table {
    width: 100%;
  }
  
  .mat-column-uwagi {
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  
  
  .material-icons {
  font-size: 30px;
  
  }
  
  th.mat-sort-header-sorted {
  color: black;
  }
  
  .mat-form-field {
  font-size: 14px;
  width: 100%;
  }
  
  .archive-row .mat-cell {
  color: lightgray;
  .mat-flat-button.mat-primary{
    opacity: 0.3;
  }
  }
  
  
  .mat-progress-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  }