<app-toolbar></app-toolbar>
<div class="container-fluid" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <img src="../../../assets/images/logo_webCRM.png" alt="logo_IP" class="logo" >
        </mat-card-header>
            <h3 style="text-align: center;line-height: 0px;">Zmiana hasła</h3>
            <p style="text-align: center;">Wpisz swoje nowe hasła w pola poniżej.</p>
        
        <mat-card-content>
            <form [formGroup]="formResetPassword">
                <mat-form-field appearance="outline">
                    <mat-label>Hasło</mat-label>
                    <mat-icon matPrefix style="vertical-align: middle; margin-bottom: 12px; margin-right: 10px;">email</mat-icon>
                    <input matInput type="password" placeholder="Hasło" formControlName="haslo">
                    <mat-error *ngIf="formResetPassword.get('haslo').invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Powtórz hasło</mat-label>
                    <mat-icon matPrefix style="vertical-align: middle; margin-bottom: 12px; margin-right: 10px;">lock</mat-icon>
                    <input matInput type="password" placeholder="Powtórz hasło"  formControlName="powtorzhaslo">
                    <mat-error *ngIf="formResetPassword.get('powtorzhaslo').errors && formResetPassword.get('powtorzhaslo').errors">Podane hasła nie są identyczne</mat-error>
                </mat-form-field>
                
                <button mat-raised-button color="primary" type="submit" class="button-login" (click)="resetPassword()">Zmień hasło</button>
            </form> 
        </mat-card-content>

            <div fxLayout="row" fxLayoutAlign="space-around end" style="margin-top: 15px">
                <button mat-button color="primary" (click)="goRegister()">Zarejestruj się</button>
                <button mat-button color="primary" (click)="goLogin()">Logowanie</button>
            </div>
    </mat-card>
    </div>
    
<ngx-spinner></ngx-spinner>