<p>
    <strong>Regulamin Platformy B2B – Serwisu webCRM</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>I. Definicje</strong>
</p>
<p>
    Użyte w Regulaminie pojęcia oznaczają:
</p>
<p>
    a) <strong>Administrator Serwisu</strong> -
        Intertrend Polska sp. z o.o. z siedzibą w Wrześni (adres: ul.
        Działkowców 10, 62-300 Września), wpisana do rejestru przedsiębiorców
        Krajowego Rejestru Sądowego, prowadzonego przez Sąd Rejonowy Poznań -
        Nowe Miasto i Wilda w Poznaniu, Wydział IX Gospodarczy Krajowego
        Rejestru Sądowego pod nr KRS 0000211741, kapitał zakładowy: 300.000,00
        PLN; NIP 5262789617, REGON 015786760 (dalej także jako „Intertrend” lub „Spółka”)
</p>
<p>
    b) <strong>Administrator danych osobowych</strong> - Intertrend Polska sp.
    z o.o. z siedzibą w Wrześni (adres: ul. Działkowców 10, 62-300 Września),
    wpisana do rejestru przedsiębiorców Krajowego Rejestru Sądowego,
    prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu,
    Wydział IX Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000211741,
    kapitał zakładowy: 300.000,00 PLN; NIP 5262789617, REGON 015786760 (dalej
    także jako „ADO”)
</p>
<p>
c) <strong>Dostawca </strong>- przedsiębiorca, w rozumieniu ar. 43    <sup>1 </sup>Kodeksu cywilnego, z wyłączeniem Konsumentów, posiadający
    zdolność prawną oraz pełną zdolność do czynności prawnych, od którego
    Spółka nabywa towary lub usługi, na podstawie Zamówień składanych lub
    przyjmowanych za pośrednictwem Serwisu
</p>
<p>
    d) <strong>Użytkownik</strong> - osoba fizyczna, która ukończyła 18 lat –
    będąca Dostawcą lub przedstawicielem Dostawcy uprawnionym do przyjmowania i
    zaciągania zobowiązań ze skutkiem dla Dostawcy, osoba prawna lub jednostka
    organizacyjna niebędąca osobą prawną, której ustawa przyznaje zdolność
    prawną, występująca jednocześnie jako Dostawca, albo jako jego umocowany
    przedstawiciel.
</p>
<p>
    a) <strong>Procesorzy danych osobowych </strong>– Partnerzy Intertrend oraz
    podmioty powiązane ze Spółką należące do tej samej - co Spółka - grupy
    kapitałowej, w rozumieniu art. 3 ust. 1 pkt. 43 ustawy z dnia 29 września
    1994 roku o rachunkowości (Dz. U. 1994, nr 121, poz. 591 ze zm.).
</p>
<p>
    b) <strong>Partner</strong> – osoba fizyczna, osoba prawna lub jednostka
    organizacyjna nieposiadająca osobowości prawnej, która współpracuje z
    Intertrend, w szczególności jako dostawca usług dostępnych za pośrednictwem
    Serwisu albo niezbędnych do wykonania zamówień składanych lub przyjmowanych
    za pośrednictwem Serwisu, lub jako podmiot współpracujący ze Spółką w toku
    realizowanej przez nią działalności
</p>
<p>
c) <strong>Serwis</strong> - platforma B2B / portal internetowy<strong>webCRM</strong> dostępna pod adresem    <a href="https://crm.intertrend.pl">https://crm.intertrend.pl</a>
</p>
<p>
    d) <strong>Regulamin</strong> - niniejszy regulamin określający w
    szczególności zasady i warunki funkcjonowania oraz korzystania z Serwisu,
    prawa i obowiązki Użytkowników oraz prawa i obowiązki Spółki; niniejszy
    regulamin jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca
    2002 r. o świadczeniu usług drogą elektroniczną
</p>
<p>
    e) <strong>RODO </strong>- Rozporządzenie Parlamentu Europejskiego i Rady
    (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych
    w związku z przetwarzaniem danych osobowych i w sprawie swobodnego
    przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (rozporządzenie
    ogólne)
</p>
<p>
    f) <strong>Konto</strong> – dostępne dla Użytkownika miejsce w Serwisie, za
    pośrednictwem którego Użytkownik wprowadza, dostarcza, zarządza i publikuje
    dane w strukturze Serwisu, tj. ma możliwość m.in. zarządzać danymi,
    pozyskiwać dokumenty transakcji w tym faktury, uzyskiwać powiadomienia o
    zmianie statusu Zamówienia, kontrolować i zarządzać: stanem złożonych lub
    przyjętych przez niego Zamówień, historią transakcji lub historią
    płatności. Funkcjonalności konta oraz zasady jego dostępności dla
    Użytkownika określa Administrator Serwisu.
</p>
<p>
    g) <strong>Zamówienie </strong>– oświadczenie woli Dostawcy, zmierzające
    bezpośrednio do zawarcia ze Spółką Umowy o świadczenie usług lub Umowy
    Sprzedaży na odległość za pośrednictwem Serwisu, określające rodzaj i
    liczbę Towarów lub Usług.
</p>
<p>
    h) <strong>Umowa sprzedaży</strong> – umowa sprzedaży towaru lub usługi w
    rozumieniu ustawy Kodeks cywilny, zawierana pomiędzy Spółką – jako
    kupującym a Dostawcą – jako sprzedawcą, z wykorzystaniem środków
    porozumiewania się na odległość. Do zawarcia Umowy sprzedaży dochodzi z
    chwilą przyjęcia Zamówienia.
</p>
<p>
    i) <strong>Usługa (Usługi)</strong> – usługa objęta przedmiotem Zamówienia,
    albo usługa świadczona przez Spółkę lub na jej zlecenie przez wskazanego
    Partnera drogą elektroniczną na zasadach określonych w Regulaminie
</p>
<p>
    j) <strong>Towar</strong> – rzecz ruchoma, której dotyczy Umowa sprzedaży
</p>
<p>
    <strong>II. Postanowienia ogólne</strong>
</p>
<ol start="1" type="1">
    <li>
        Serwis stanowi wyłączną własność Intertrend.
    </li>
    <li>
        Regulamin określa zasady korzystania z Serwisu, składania i
        przyjmowania Zamówień przy wykorzystaniu środków porozumiewania się na
        odległość.
    </li>
    <li>
        Użytkownicy mogą uzyskać dostęp do Regulaminu w każdym czasie,
        nieodpłatnie - za pośrednictwem odesłania internetowego (tj. linku)
        zamieszczonego na stronie głównej Serwisu. Regulamin może być pobierany
        lub drukowany ze strony Serwisu.
    </li>
    <li>
        Korzystanie z Serwisu wymaga dysponowania przez Użytkownika urządzeniem
        z dostępem do Internetu, wyposażonym w oprogramowanie służące do
        przeglądania i korzystania ze stron www, a także z dostępem do
        prawidłowo skonfigurowanej poczty elektronicznej, której adres został
        wskazany podczas rejestracji albo podczas dokonywania zgłoszenia na
        adres poczty elektronicznej wskazany jako adres do kontaktu z
        Administratorem. Szczegółowe wymagania techniczne określone zostały w
        pkt III Regulaminu.
    </li>
    <li>
        Korzystanie z Serwisu może odbywać się za pośrednictwem Konta – po
        zalogowaniu się Użytkownika.
    </li>
    <li>
        Administrator Serwisu udostępnia Użytkownikom formularz kontaktowy
        przeznaczony do kontaktów z nim, za pośrednictwem którego Użytkownicy
        mogą kierować do Spółki wszelkie zapytania, sugestie, uwagi i
        informacje.
    </li>
    <li>
        Ilekroć w treści Regulaminu mowa jest o powiadomieniu, zawiadomieniu
        lub złożeniu oświadczenia wobec Spółki, mających wywołać określony
        skutek prawny, oznacza to wysłanie wiadomości e-mail na adres:
        ________@__________<u> </u>albo wysłanie pisma na adres siedziby Spółki
        wskazany w pkt I „Definicje”.
    </li>
    <li>
        Każdy Użytkownik korzystający z Serwisu zobowiązany jest do zapoznania
        się z Regulaminem. Akceptacja Regulaminu ma charakter dobrowolny,
        jednak jest konieczna dla korzystania z Serwisu.
    </li>
    <li>
        Serwis jest prowadzony przez Intertrend i służy automatyzacji procesów
        związanych z nabywaniem surowców i komponentów oferowanych przez
        Dostawców i przeznaczonych do produkcji Towarów oferowanych przez
        Spółkę lub Grupę Intertrend oraz ich sprzedaży na rzecz Klientów
        Spółki. Celem Serwisu jest umożliwienie stronom kompleksowej obsługi
        Zamówień.
    </li>
    <li>
        Spółka za pośrednictwem Serwisu świadczy następujące Usługi:
    </li>
</ol>
<p>
    a) obsługę procesu składania Zamówień i ich potwierdzania
</p>
<p>
    b) obsługę procesu doręczania faktur
</p>
<p>
    c) obsługę procesu sprzedaży i kompletacji dostaw
</p>
<p>
    d) obsługa procesu ustalania warunków i awizacji dostaw
</p>
<p>
    e) generowanie i przekazywanie dokumentów w formie elektronicznej
</p>
<p>
    f) dostarczanie informacji handlowej i treści marketingowych na zasadach
    wynikających z obowiązującego prawa i udzielonych zgód.
</p>
<ol start="11" type="1">
    <li>
        Administrator Serwisu wykorzystuje pliki typu cookies na zasadach
        opisanych w Polityce prywatności i Polityce cookies.
    </li>
    <li>
        Prawa wyłączne do treści udostępnianych w ramach Usług świadczonych za
        pośrednictwem Serwisu, w szczególności majątkowe prawa autorskie, nazwa
        Serwisu, znaki towarowe Intertrend oraz Partnerów, wchodzące w ich
        skład elementy graficzne lub słowno-graficzne, oraz prawa w zakresie
        baz danych - podlegają ochronie prawnej i przysługują Spółce lub
        podmiotom, z którymi Spółka zawarł stosowne umowy. Jakiekolwiek
        kopiowanie, powielanie lub rozpowszechnianie elementów Serwisu, a także
        jego wyglądu jako całości, bez zgody Spółki, jest zabronione.
    </li>
    <li>
        Administrator Serwisu przetwarza dane osobowe Użytkowników w celu i
        zakresie niezbędnym dla realizacji usług udostępnionych za
        pośrednictwem Serwisu i w celu umożliwienia korzystania z Konta w
        Serwisie. Podanie danych osobowych jest dobrowolne, ale w zakresie
        wynikającym z treści usług udostępnionych za pośrednictwem Serwisu –
        jest ono niezbędne, w celu skorzystania z nich. Podstawą przetwarzania
        danych osobowych jest ustawowe upoważnienie do przetwarzania danych
        niezbędnych w celach realizacji usług świadczonych przez Administratora
        (art. 6 ust. 1 pkt a) oraz f) RODO) lub Partnerów, w tym nawiązania,
        ukształtowania treści, zmiany, rozwiązania oraz rozliczenia stosunku
        prawnego zawieranego między Administratorem a Dostawą reprezentowanego
        przez Użytkownika, a w określonych wypadkach zgoda podmioty danych –
        Użytkownika.
    </li>
</ol>
<p>
    <strong>III. Warunki techniczne korzystania z Serwisu</strong>
</p>
<p>
    1. W celu prawidłowego korzystania przez Użytkowników z usług dostępnych za
    pośrednictwem Serwisu, w tym w celu skutecznego zarejestrowania i
    zalogowania się, niezbędne jest łącznie:
</p>
<p>
    a) posiadanie urządzeń pozwalających na korzystanie z zasobów sieci
    Internet
</p>
<p>
    b) połączenie z siecią Internet
</p>
<p>
    c) korzystanie z przeglądarki internetowej umożliwiającej wyświetlanie na
    ekranie urządzenia dokumentów hipertekstowych, powiązanych w sieci Internet
    przez sieciową usługę WWW oraz obsługującej język programowania JavaScript,
    a ponadto akceptującej pliki typu cookies
</p>
<p>
    d) w przypadku Użytkowników dokonujących rejestracji, posiadanie aktywnego
    konta poczty elektronicznej (e-mail).
</p>
<p>
    2. Administrator Serwisu zaleca korzystać z przeglądarek: Microsoft
    Internet Explorer 11 albo wersja późniejsza, Microsoft Edge 12 albo wersja
    późniejsza, Mozilla Firefox 58.0 albo wersja późniejsza, Google Chrome 64.0
    albo wersja późniejsza i Safari 9 albo wersja późniejsza. Najnowsze wersje
    tych przeglądarek można pobrać pod następującymi łączami:
</p>
<p>
    - <a href="https://www.mozilla.org/" target="_blank">Mozilla Firefox</a>
</p>
<p>
    - <a href="https://www.google.com/chrome" target="_blank">Google Chrome</a>
</p>
<p>
    - <a href="https://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a>
</p>
<p>
    - <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank">Edge</a>
</p>
<p>
    - <a href="https://www.apple.com/safari" target="_blank">Safari</a>
</p>
<p>
    3. Zabronione jest umieszczanie w Serwisie treści o charakterze bezprawnym,
    w szczególności treści wzywających do nienawiści rasowej, etnicznej,
    wyznaniowej, zawierających treści pornograficzne, pochwalających faszyzm,
    nazizm, komunizm, propagujących przemoc, obrażających uczucia religijne,
    naruszających prawa innych osób, w tym w szczególności ich dobra osobiste.
</p>
<p>
    4. Zabronione jest umieszczanie w Serwisie materiałów o charakterze
    reklamowym, promocyjnym i marketingowym, chyba że co innego wynika z
    postanowień Regulaminu lub odrębnej, pisemnej umowy zawartej ze Spółką.
</p>
<p>
    5. W przypadku zamieszczenia w Serwisie jakichkolwiek materiałów przez
    Użytkownika lub Partnera, podmiot ten udziela Spółce nieodpłatnej,
    niewyłącznej i nieograniczonej czasowo licencji na korzystanie z tych
    materiałów, w tym w szczególności fotografii, znaków towarowych lub innych
    oznaczeń odróżniających, w celach promocji Serwisu lub informowania o jego
    działalności, a także udziela zezwolenia na dokonywanie, korzystanie,
    rozporządzanie przez Spółkę i zezwalanie na wykonywanie praw zależnych do
    opracowań i modyfikacji tych materiałów w celu o jakim mowa powyżej.
</p>
<p>
    6. Użytkownik, który zamieszcza w Serwisie jakiekolwiek treści pochodzące
    od osób trzecich jest zobowiązany do zapewnienia zgodnego z prawem ich
    użycia.
</p>
<p>
    7. W przypadku powzięcia podejrzenia o umieszczeniu przez Użytkownika w
    Serwisie treści o charakterze bezprawnym lub sprzecznych z Regulaminem,
    Administrator niezwłocznie zablokuje do nich dostęp i uniemożliwi ich
    dalsze rozpowszechnianie.
</p>
<p>
    8. W przypadku, gdy działania Użytkownika naruszają postanowienia
    Regulaminu, przepisy obowiązującego prawa, dobre obyczaje bądź prawa innych
    Użytkowników lub osób trzecich bądź w uzasadnionych przypadkach, gdy Konto
    lub działalność Użytkownika w ramach Serwisu wymaga dodatkowej weryfikacji
    danych, Administrator może:
</p>
<p>
    a) zawiesić na czas określony lub nieokreślony Konto Użytkownika;
</p>
<p>
    b) ograniczyć na czas określony lub nieokreślony funkcjonalność Konta
    Użytkownika w zakresie dostępu do poszczególnych usług świadczonych w
    ramach Serwisu;
</p>
<p>
    c) uzależnić korzystanie z Serwisu od potwierdzenia przez Użytkownika jego
    wiarygodności.
</p>
<p>
    9. Niezależnie od zawieszenia Konta, Użytkownik ponosi pełną
    odpowiedzialność za swoje działania będące podstawą do zawieszenia Konta, w
    tym również ponosi pełną odpowiedzialność odszkodowawczą względem
    Administratora Serwisu oraz osób, których prawa zostały naruszone.
</p>
<p>
    10. Administrator ma również prawo do usunięcia Konta Użytkownika, który
    narusza Regulamin, a także Kont Użytkowników nieaktywnych przez okres co
    najmniej jednego roku. O zawieszeniu lub usunięciu Konta Administrator
    Serwisu poinformuje Użytkownika za pośrednictwem poczty elektronicznej, na
    adres podany w celu rejestracji w Serwisie.
</p>
<p>
    <strong>IV. Zasady korzystania z Platformy B2B</strong>
</p>
<ol start="1" type="1">
    <li>
        Spółka umożliwia Dostawcom korzystanie z usług świadczonych w ramach
        Serwisu po dokonaniu rejestracji w Serwisie – i po zalogowaniu do Konta
        konkretnego Użytkownika występującego jako przedstawiciel konkretnego
        Dostawcy.
    </li>
    <li>
        Administrator Serwisu zobowiązuje się do świadczenia Usług w zakresie i
        na warunkach określonych w Regulaminie przy poszanowaniu przepisów
        prawa powszechnie obowiązującego.
    </li>
    <li>
        Korzystanie z Serwisu nie wymaga opłat.
    </li>
    <li>
        Umowa o świadczenie usług drogą elektroniczną zostaje zawarta z chwilą
        skutecznego wypełnienia i zaakceptowania przez Użytkownika oraz
        Administratora Serwisu formularza rejestracyjnego, nie wcześniej niż po
        dokonaniu aktywacji Konta. Umowa o świadczenie usług drogą
        elektroniczną zostaje zawarta na czas nieokreślony. Warunkiem
        korzystania z Serwisu jest akceptacja Regulaminu, w tym wskazanych w
        jego treści polityk.
    </li>
    <li>
        Podmiot, który ubiega się o rejestrację w Serwisie (Użytkownik),
        wypełnia formularz rejestracyjny dostępny w Serwisie. W tym celu, po
        kliknięciu w link "Załóż konto”, Użytkownik wypełnia formularz
        rejestracyjny oraz ustala indywidualny login i hasło.
    </li>
    <li>
        Po otrzymaniu prawidłowo wypełnionego formularza rejestracyjnego,
        Administrator Serwisu dokona weryfikacji podmiotu ubiegającego się o
        rejestrację, w tym w szczególności skontaktuje się z nim w celu
        uzyskania dodatkowych informacji lub dokumentów, w tym upoważnienia
        (pełnomocnictwa) dla osoby działającej w imieniu danego podmiotu,
        której upoważnienie nie wynika z danych zgromadzonych w Krajowym
        Rejestrze Sądowym, a także przeprowadzi weryfikację wiarygodności
        podmiotu w oparciu o powszechnie dostępne informacje na jego temat.
    </li>
    <li>
        Rejestracja Użytkownika w Serwisie jest możliwa wyłącznie po pozytywnej
        weryfikacji przez Administratora Serwisu.
    </li>
    <li>
        Administrator Serwisu może podejmować arbitralne decyzje w zakresie
        pozytywnej lub negatywnej weryfikacji podmiotu ubiegającego się o
        rejestrację, przy zastosowaniu dowolnych kryteriów weryfikacji.
    </li>
    <li>
        Dla pozytywnie zweryfikowanego podmiotu Administrator Serwisu zakłada
        Konto.
    </li>
    <li>
        Założenie Konta jest równoznaczne z zawarciem umowy o świadczenie usług
        na zasadach określonych w Regulaminie.
    </li>
    <li>
        Aktywowanie Konta wymaga potwierdzenia rejestracji w Serwisie poprzez
        uruchomienie hiperłącza zawartego w wiadomości e-mail przesłanej przez
        Administratora Serwisu na adres poczty elektronicznej Użytkownika
        podany w procesie rejestracji.
    </li>
    <li>
        Po utworzeniu Konta, Użytkownik loguje się do swojego Konta za pomocą
        loginu i hasła. Użytkownik jest zobowiązany do nieudostępniania Konta,
        loginu ani hasła innym osobom.
    </li>
    <li>
        Użytkownik jest zobowiązany niezwłocznie poinformować Administratora,
        jeśli dane dostępowe do Konta zostały przejęte przez osoby trzecie.
        Wszystkie czynności wykonane po zalogowaniu w Serwisie uważa się za
        dokonane przez Użytkownika.
    </li>
    <li>
        Użytkownik może posiadać tylko jedno Konto. Konto nie być
        wykorzystywane do dokonywania jakichkolwiek czynności stanowiących
        naruszenie postanowień niniejszego Regulaminu. Użytkownik nie może
        korzystać ze swojego Konta w sposób niezgodny z charakterem i
        przeznaczeniem Usług świadczonych przez Spółkę w ramach Serwisu oraz w
        sposób zakłócający korzystanie z tych Usług.
    </li>
    <li>
        Administrator nie ponosi odpowiedzialności za prawdziwość i rzetelność
        informacji podawanych przez Użytkowników, ani zdolność Użytkowników do
        bycia podmiotem czynności prawnych.
    </li>
    <li>
        Użytkownik lub Dostawca, w imieniu których działa Użytkownik
        zobowiązani są do informowania Administratora Serwisu o wszelkich
        zmianach danych zamieszczonych w formularzu rejestracyjnym, w tym w
        szczególności danych adresowych, niezwłocznie po zaistnieniu tych
        zmian, jednak nie później niż w terminie 7 (słownie: siedem) dni od
        dnia zaistnienia zmiany.
    </li>
    <li>
        Administrator Serwisu zastrzega sobie prawo do modyfikowania
        technicznego sposobu realizacji Usług, stosownie do zakresu i warunków
        wynikających z posiadanych uprawnień, a także odpowiednio do
        posiadanych możliwości technicznych, bez pogarszania ich jakości, a
        także bez wpływu na zakres praw i obowiązków Stron.
    </li>
    <li>
        Usługodawca nie jest dostawcą usługi internetu ani dostawcą innych
        publicznie dostępnych usług telekomunikacyjnych w rozumieniu ustawy
        Prawo telekomunikacyjne i nie ponosi odpowiedzialności za zdarzenia od
        siebie niezależne.
    </li>
    <li>
        Użytkownik ponosi wyłączną odpowiedzialność za czynności wykonane przez
        siebie w ramach Serwisu.
    </li>
    <li>
        Spółka może w każdym czasie zdecydować o zakończeniu pracy Serwisu. W
        takim wypadku powiadomi Użytkowników o zakończeniu świadczenia usług za
        pośrednictwem Serwisu i planowanym jego zawieszeniu lub wyłączeniu z co
        najmniej 7-dniowym wyprzedzeniem, przy czym w razie naruszenia
        bezpieczeństwa danych osobowych działania te mogą zostać podjęte
        niezwłocznie i bez uprzedzenia, a zawiadomienie Użytkowników może mieć
        charakter następczy.
    </li>
</ol>
<p>
    <strong>V. Zamówienia </strong>
</p>
<ol start="1" type="1">
    <li>
        Spółka w toku realizowanej przez siebie działalności zamierza nabywać
        Towary lub usługi oferowane przez Dostawców, którzy korzystają z
        Serwisu i posiadają w nim Konta. W tym celu Spółka będzie publikowała w
        Serwisie, w miejscu do tego przeznaczonym, zaproszenia do skłania ofert
        na realizację Zamówień na dostawy konkretnych Towarów, które Spółka
        zamierza nabyć na warunkach wskazanych w zaproszeniu.
    </li>
    <li>
        Zaproszenia do składania ofert będą adresowane do wszystkich albo
        wybranych Dostawców zarejestrowanych w Serwisie – wedle wyboru Spółki.
    </li>
    <li>
        Jeśli w treści zaproszenia nie wskazano terminu, do którego należy
        złożyć ofertę, termin ten wynosi 3 dni od dnia opublikowania
        zaproszenia do składania ofert.
    </li>
    <li>
        Zamówienia składane przez Spółkę będę obejmowały Towary oferowane przez
        Dostawcę po stałych cenach – określanych przez Dostawcę w obowiązującym
        Cenniku. Dostawca może dokonać zmiany cennika nie częściej niż raz do
        roku, do końca 31 stycznia danego roku kalendarzowego. Zmiana cennika
        Dostawcy w trakcie roku kalendarzowego wymaga zgody Spółki.
    </li>
    <li>
        Spółka w toku realizowanej przez siebie działalności przewiduje także
        udzielanie Zamówień na Towary, których odbiorcami będą inni Dostawcy
        Spółki, uczestniczący – jako podwykonawcy w procesie produkcji.
    </li>
    <li>
        W każdym wypadku kupującym będzie jednak Spółka, natomiast dostawa i
        odbiór Towarów będą realizowane do miejsca wskazanego w Zamówieniu i na
        rzecz Spółki albo wskazanego podwykonawcy Spółki.
    </li>
    <li>
        Do zawarcia Zamówienia z konkretnym Dostawcą lub Dostawcami dojdzie z
        chwilą przyjęcia przez Spółkę oferty Dostawcy – zgodnie z pkt 8
        poniżej, o czym Dostawca zostanie poinformowany za pośrednictwem
        Serwisu lub w drodze korespondencji elektronicznej skierowanej na adres
        e-mail Użytkownika, podany przy okazji rejestracji Konta.
    </li>
    <li>
        Zamówienie nie wymaga podpisu Stron. Zamówienie uważa się za zawarte
        przez Strony jeśli zostało złożone na formularzu pochodzącym od Spółki
        i obejmuje wszystkie kluczowe elementy oferty Dostawcy. Zamówienie
        uważa się za zawarte z dniem jego akceptacji przez Dostawcę lub z
        upływem 3 dni roboczych od dnia przesłania Zamówienia przez Spółkę na
        Konto Użytkownika lub przeslania korespondencji elektronicznej
        skierowanej na adres e-mail Użytkownika, podany przy okazji rejestracji
        Konta.
    </li>
    <li>
        Zamówienia będą realizowane według harmonogramu lub w terminach
        wskazanych w ich treści.
    </li>
    <li>
        Zamówienia będą dostarczane do miejsca wskazanego przez Spółkę w treści
        Zamówienia, w modelu Incoterms Ex Works.
    </li>
    <li>
        Spółka zastrzega sobie prawo wskazania spedytora lub przewoźnika
        realizującego dostawę Towarów objętych Zamówieniem.
    </li>
    <li>
        Datą zawarcia Umowy sprzedaży Towarów nabywanych przez Spółkę jest data
        wystawienia przez Dostawcę faktury VAT dotyczącej danego Zamówienia.
    </li>
</ol>
<p>
    <strong>VI. Faktury i płatności</strong>
</p>
<ol start="1" type="1">
    <li>
        Do każdego Zamówienia będzie wystawiona faktura VAT. Spółka i Dostawca
        wyrażają zgodę na wystawienia i otrzymywanie faktur drogą
        elektroniczną. W Serwisie będzie udostępniać widok faktury.
    </li>
    <li>
        Faktury dla Spółki będą przesyłane na adres __________@_____________.
        Faktury dla Dostawcy będą przesyłane zgodnie z indywidualnie ustalonymi
        warunkami.
    </li>
    <li>
        Podaną na fakturze cenę brutto uważa się z zapłaconą jeśli w pełnej
        wysokości zostanie ona zaksięgowana na rachunku bankowym sprzedawcy, co
        nie wyłącza prawa stron do dokonywania potrąceń (kompensat zobowiązań
        wzajemnych) na zasadach wynikających z obowiązującego prawa. Za dzień
        zapłaty uważa się dzień obciążenia rachunku bankowego kupującego kwotą
        faktury.
    </li>
</ol>
<p>
    <strong>VII. Dostawa</strong>
</p>
<ol start="1" type="1">
    <li>
        Dostawca zobowiązuje się do awizowania gotowości do realizacji dostaw
        za pośrednictwem Serwisu.
    </li>
    <li>
        Dostawy będę dokonywane w modelu Incoterms Ex Works albo FCA – w
        zależności od treści Zamówienia. Wybór spedytora lub przewoźnika należy
        do Spółki.
    </li>
    <li>
        Dostawy będą realizowane na podstawie warunków spedycji lub przewozu,
        dostępnych na właściwej stronie internetowej wybranego Partnera.
    </li>
    <li>
        Zamówiony Towar dostarczany jest na adres wskazany w Zamówieniu.
    </li>
</ol>
<p>
    <strong>VIII. Reklamacje dotyczące funkcjonowania Serwisu</strong>
</p>
<ol start="1" type="1">
    <li>
        Spółka podejmuje działania w celu zapewnienia w pełni poprawnego
        działania Serwisu, w zakresie jaki wynika z aktualnej wiedzy
        technicznej i zobowiązuje się usunąć w rozsądnym terminie stwierdzone
        nieprawidłowości.
    </li>
    <li>
        Nieprawidłowości związane z funkcjonowaniem Serwisu Użytkownik może
        zgłaszać za pośrednictwem Serwisu względnie innego dostępnego kanału
        komunikacji.
    </li>
    <li>
        Użytkownikowi przysługuje prawo do złożenia reklamacji w terminie 30
        dni kalendarzowych licząc od dnia, w którym doszło do ustalenia
        nieprawidłowości w funkcjonowaniu Serwisu. Reklamację złożoną po
        upływie terminu określonego w zdaniu pierwszym, pozostawia się bez
        rozpoznania, o czym Administrator Serwisu niezwłocznie powiadamia
        Użytkownika, co jednak nie uchybia ogólnie obowiązującym przepisom
        prawa.
    </li>
    <li>
        Reklamacja zostanie rozpatrzona przez Administrator Serwisu w terminie
        nie dłuższym niż 30 (słownie: trzydzieści) dni od daty jej złożenia.
    </li>
    <li>
        Za datę złożenia reklamacji uznaje się datę doręczenia reklamacji
        Administratorowi Serwisu.
    </li>
    <li>
        W reklamacji Użytkownik powinien podać swoje imię i nazwisko, nazwę
        Dostawcy, w imieniu którego występuje, adres do korespondencji, rodzaj
        i datę wystąpienia nieprawidłowości związanej z funkcjonowaniem
        Serwisu.
    </li>
    <li>
        O wynikach rozpatrzenia reklamacji Administrator Serwisu poinformuje
        Użytkownika drogą mailową na adres wskazany przy okazji rejestracji w
        Serwisie.
    </li>
</ol>
<p>
    <strong>IX. Odpowiedzialność</strong>
</p>
<ol start="1" type="1">
    <li>
        Administrator Serwisu nie ponosi odpowiedzialności za problemy
        techniczne bądź ograniczenia techniczne, w tym szybkość przesyłu
        danych, występujące w sprzęcie komputerowym, urządzeniu końcowym,
        systemie teleinformatycznym oraz infrastrukturze telekomunikacyjnej, z
        którego korzysta Użytkownik.
    </li>
    <li>
        Administrator Serwisu nie ponosi odpowiedzialności za skutki
        korzystania z Serwisu przez Użytkownika w sposób sprzeczny z
        obowiązującym prawem, postanowieniami Regulaminu lub przyjętymi w tym
        zakresie zwyczajami.
    </li>
    <li>
        Administrator Serwisu zastrzega sobie możliwość wyłączenia względnie
        zawieszenia funkcjonalności Serwisu na czas niezbędnych napraw,
        aktualizacji i dokonywania zmian. Polityka przerw technicznych określa
        zasady zamierzonego ograniczenia dostępności Serwisu.
    </li>
    <li>
        Użytkownik we własnym zakresie dba o bezpieczeństwo swoich danych oraz
        wykorzystywanych przez siebie urządzeń końcowych (np. komputer,
        telefon, tablet). Spółka nie ponosi odpowiedzialności za przeprowadzone
        przez Użytkownika operacje dokonane za pośrednictwem Internetu, ani za
        bezpieczeństwo danych pobieranych lub przesyłanych za pośrednictwem
        Serwisu.
    </li>
    <li>
        Użytkownik jest zobowiązany do zachowania poufności swojego loginu i
        hasła. Spółka nie ponosi odpowiedzialności za skutki ujawnienia przez
        Użytkownika danych umożliwiających mu logowanie do Serwisu.
    </li>
</ol>
<p>
    <strong>X. Ochrona danych osobowych i prywatności</strong>
</p>
<ol start="1" type="1">
    <li>
        Dla umożliwienia korzystania z Serwisu oraz oferowanych za jego
        pośrednictwem Usług niezbędne jest przetwarzanie danych osobowych
        Użytkowników.
    </li>
    <li>
        Dane osobowe Użytkownika zbierane przez Administratora danych osobowych
        za pośrednictwem Serwisu przetwarzane są w celu umożliwienia realizacji
        zawartej z Dostawcą Umowy sprzedaży lub w celu umożliwienia realizacji
        zawartej umowy o świadczenie usług drogą elektroniczną.
    </li>
    <li>
        Administrator danych osobowych zapewnia bezpieczeństwo przetwarzanych
        przez siebie danych osobowych. Dane osobowe Użytkowników będą
        przetwarzane zgodnie z RODO i opublikowaną w Serwisie Polityką
        prywatności oraz Polityką cookies.
    </li>
    <li>
        Użytkownik ma prawo dostępu do treści swoich danych, ich poprawiania,
        zmiany, żądania usunięcia, zapomnienia. Skargi na działania
        Administratora danych osobowych mogę być wnoszone do Prezesa Urzędu
        Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa).
    </li>
    <li>
        Podanie danych osobowych przez Użytkownika jest dobrowolne, aczkolwiek
        niezbędne dla korzystania z Serwisu.
    </li>
    <li>
        Wszelkie informacje dotyczące ochrony danych osobowych nieujęte w
        niniejszym Regulaminie zostały zawarte w Polityce Prywatności i
        Polityka cookies.
    </li>
</ol>
<p>
    <strong>XI. Partnerzy</strong>
</p>
<p>
    1. Partnerami Spółki są podmioty każdorazowo wskazane na stronie Serwisu
    oraz zdefiniowane w treści Regulaminu.
</p>
<p>
    2. Spółka jako Administrator danych osobowych udostępnia albo powierza
    Partnerom przetwarzanie danych osobowych Użytkowników, w celu realizacji
    usług objętych przedmiotem Zamówienia lub oferowanych za pośrednictwem
    Serwisu, albo w innych celach - na warunkach wynikających z obowiązującego
    prawa lub udzielonych przez Użytkownika zgód.
</p>
<p>
    3. Partnerzy ponoszą samodzielną odpowiedzialność za oferowane przez siebie
    usługi oraz pochodzące od nich treści.
</p>
<p>
    4. Partner wyraża zgodę na informowanie przez Spółkę o fakcie współpracy w
    ramach Serwisu, w tym na użycie znaków towarowych i innych oznaczeń
    Partnera.
</p>
<p>
    5. Administrator Serwisu może umieszczać w Serwisie materiały reklamowe,
    promocyjne lub marketingowe pochodzące od Spółki, podmiotów z nią
    powiązanych lub osób trzecich, w tym Partnerów.
</p>
<p>
    6. Materiały zamieszczane w Serwisie, pochodzące od osób trzecich (w tym
    Partnerów) nie mogą naruszać prawa, niniejszego Regulaminu, a w
    szczególności dóbr osobistych jakichkolwiek osób.
</p>
<p>
    7. W przypadku wiarygodnego powiadomienia Spółki o bezprawności treści
    zamieszczonych Serwisie lub dostarczanych przez Partnerów do Użytkowników
    Serwisu, których dane osobowe zostały powierzone do przetwarzania przez
    Spółkę, na podstawie odrębnej umowy, Spółka:
</p>
<p>
    a) usunie treści o charakterze bezprawnym zamieszczonych w Serwisie, a do
    czasu wyjaśnienia sprawy zablokuje możliwość ich dalszego rozpowszechniania
    za pośrednictwem Serwisu;
</p>
<p>
    b) rozwiąże umowę w przedmiocie powierzenia przetwarzania danych osobowych
    Użytkowników, zawartą z Partnerem dostarczającym treści bezprawne, a do
    czasu wyjaśnienia sprawy zobowiąże go do zaprzestania dostarczania
jakichkolwiek treści do podmiotów danych objętych zakresem powierzenia.    <strong></strong>
</p>
<p>
    8. Udostępnienie danych osobowych Użytkowników Serwisu skutkuje powstaniem
    obowiązku informacyjnego po stronie podmiotu, któremu dane zostały
    udostępnione, jako administratora tych danych osobowych.
</p>
<p>
    <strong>XII. Rozwiązanie umowy o korzystanie z Serwisu</strong>
</p>
<ol start="1" type="1">
    <li>
        Każda ze Stron może rozwiązać umowę o świadczenie usług drogą
        elektroniczną w każdym czasie i bez podania przyczyn, z zastrzeżeniem
        zachowania praw nabytych przez drugą Stronę przed rozwiązaniem ww.
        umowy oraz postanowień poniżej.
    </li>
    <li>
        W celu rozwiązania umowy z zachowaniem 14-dniowego okresu wypowiedzenia
        niezbędne jest wysłanie przez Użytkownika względnie Spółkę – drugiej
        stronie umowy stosownej wiadomości za pośrednictwem Serwisu.
    </li>
    <li>
        Spółka ma prawo odstąpić od świadczenia usługi polegającej na
        umożliwieniu korzystania z Serwisu w trybie natychmiastowym, w
        przypadku naruszenia przez Użytkownika postanowień niniejszego
        Regulaminu oraz w wyniku bezskutecznego wezwania Dostawcy, w imieniu
        których występuje Użytkownik do zaprzestania ww. naruszeń w terminie 1
        (słownie: jednego) dnia roboczego. Wezwanie będzie kierowane na adres
        mailowy wskazany przez Użytkownika przy okazji rejestracji w Serwisie.
    </li>
</ol>
<p>
    <strong>XIII. Oświadczenia dodatkowe</strong>
</p>
<ol start="1" type="1">
    <li>
        Z chwilą akceptacji Regulaminu Serwisu Użytkownik oświadcza, iż
        otrzymał login i hasło niezbędne do korzystania z funkcjonalności
        Serwisu, a tym samym potwierdza zaistnienie deklarowanej automatyzacji
        procesów biznesowych pomiędzy Spółką a Dostawcą, w imieniu których
        występuje.
    </li>
    <li>
        W sytuacji, o której mowa w ust. 1 powyżej, z chwilą akceptacji
        Regulaminu i założenia Konta - Dostawca, w imieniu którego działa
        Użytkownik, wyrażają zgodę na to, aby:
    </li>
    <ol start="1" type="a">
        <li>
            obsługa procesu składania lub przyjmowania Zamówień i ich
            potwierdzania,
        </li>
        <li>
            obsługa procesu sprzedaży i kompletacji dostaw,
        </li>
        <li>
            przekazywanie dokumentów elektronicznych, dotyczących zawieranych
            transakcji, w tym faktur dokumentujących sprzedaż,
        </li>
    </ol>
</ol>
<p>
    następowała w relacjach ze Spółkę wyłącznie za pośrednictwem Serwisu.
</p>
<p>
    <strong>XIV. Postanowienia końcowe</strong>
</p>
<ol start="1" type="1">
    <li>
        Prawem właściwym jest prawo polskie, w tym w szczególności: ustawa z 23
        kwietnia 1964 r. Kodeks cywilny i Ustawa z dnia 18 lipca 2002 r. o
        świadczeniu usług drogą elektroniczną.
    </li>
    <li>
        Sądem właściwym dla rozwiązywania sporów pomiędzy Spółką a
        Użytkownikami - Dostawcami, związanych z korzystaniem z Serwisu lub
        świadczeniem za jego pośrednictwem usług będzie właściwy rzeczowo sąd
        powszechny z siedzibą w Poznaniu.
    </li>
    <li>
        Uznanie poszczególnych postanowień niniejszego Regulaminu w sposób
        przewidziany prawem za nieważne bądź nieskuteczne, nie wpływa na
        ważność czy skuteczność pozostałych postanowień Regulaminu. W miejsce
        nieważnego postanowienia zastosowana będzie reguła, która jest
        najbliższa celom nieważnego postanowienia i całego Regulaminu.
    </li>
    <li>
        Spółka zastrzega sobie prawo do zmiany Regulaminu. Wszelkie zmiany
        Regulaminu zostaną uwidocznione w Serwisie z co najmniej 7-dniowym
        wyprzedzeniem przed dniem ich wejścia w życie, a Użytkownicy
        posiadający Konta w Serwisie zostaną powiadomieni o zmianie na adres
        e-mail podany przy okazji rejestracji w Serwisie. Użytkownik przy
        logowaniu do Serwisu zostanie powiadomiony o zmianie Regulaminu i o
        możliwości jej akceptacji.
    </li>
    <li>
        Zmiany Regulaminu obowiązują od momentu wyraźnie w wskazanego w treści
        komunikaty o wprowadzeniu zmiany.
    </li>
    <li>
        Zamówienia złożone lub wykonane przed wejściem w życie tych zmian będą
        realizowane lub oceniane za zasadach dotychczasowych.
    </li>
    <li>
        Odmowa akceptacji zmiany Regulaminu jest równoznaczna z rozwiązaniem
        umowy o świadczenie usług drogą elektroniczną i żądaniem usunięcia
        Konta, a w szczególności oznacza automatyczne zablokowanie możliwości
        dalszego korzystania z Serwisu. W takim wypadku Administrator Serwisu
        nie jest zobowiązany do umożliwienia Użytkownikom i Dostawcom dostępu
        lub pobrania danych zapisanych na Koncie Użytkownika w Serwisie. Serwis
        nie stanowi banku faktur, ani nie jest przeznaczony do archiwizowania
        dokumentacji zawartych transakcji.
    </li>
    <li>
        Regulamin dostępny jest na stronie internetowej Serwisu, stanowiąc jego
        integralną część.
    </li>
    <li>
        Wszelkie usługi dodatkowe Administrator może świadczyć na podstawie
        odrębnych regulaminów.
    </li>
    <li>
        Regulamin wchodzi w życie z dniem 2020.03.01 r.
    </li>
</ol>