<p>
    <strong>1. ZGODA NA PRZETWARZANIE DANYCH OSOBOWYCH PRZEZ PARTNERÓW</strong>
</p>
<p>
    Wyrażam zgodę na udostępnienie przez Intertrend Polska sp. z o.o. z
    siedzibą w Wrześni (adres: ul. Działkowców 10, 62-300 Września), wpisana do
    rejestru przedsiębiorców Krajowego Rejestru Sądowego, prowadzonego przez
    Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu, Wydział IX
    Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000211741, kapitał
zakładowy: 300.000,00 PLN; NIP 5262789617, REGON 015786760 (dalej jako „<strong>Intertrend</strong>” lub „<strong>Spółka</strong>”) moich danych
    osobowych w zakresie określonym powyższym formularzem, na rzecz Partnerów
    Spółki określonych w treści Regulaminu Serwisu lub w określonych w
    Regulaminie wypadkach - innym Użytkownikom Serwisu/Klientom Spółki,
    działających jako administrator danych; wyrażam tym samym zgodę na
    przetwarzanie przez te podmioty moich danych osobowych oraz ich dalsze
    przekazywanie i przetwarzanie, w celu informowania mnie w przyszłości o
    realizacji zamówień składanych lub przyjmowanych za pośrednictwem Serwisu,
    realizacji działalności marketingowej przez Partnerów Spółki i badania
    opinii. Zgoda ma charakter dobrowolny. Zostałem powiadomiony o
    przysługującym mi prawie dostępu do treści moich danych oraz ich
    poprawiania.
</p>
<p>
    Informujemy, że dane osobowe:
</p>
<p>
    1) mogą być udostępniane osobom podmiotom współpracującym z Intertrend,
    wymienionym powyżej
</p>
<p>
    2) w niezbędnym zakresie podane dane będą przetwarzane na podstawie art. 6
    ust. 1 pkt a) oraz w niezbędnym zakresie na podstawie pkt f) tego przepisu
    i zgodnie z treścią RODO
</p>
<p>
    3) dane osobowe będą przechowywane przez okres niezbędny do realizacji
    celów przetwarzania i zabezpieczenia realizacji roszczeń
</p>
<p>
    4) ma Pan/Pani prawo wniesienia skargi do Prezesa UODO, gdy uzna Pan/Pani,
    iż przetwarzanie danych osobowych Pana/Pani narusza przepisy RODO.
</p>
<p>
    <strong>2. ZGODA NA PROFILOWANIE</strong>
</p>
<p>
    Wyrażam zgodę na przetwarzanie moich danych osobowych powierzonych
    Intertrend Polska sp. z o.o. z siedzibą w Wrześni (adres: ul. Działkowców
    10, 62-300 Września), wpisana do rejestru przedsiębiorców Krajowego
    Rejestru Sądowego, prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto i
    Wilda w Poznaniu, Wydział IX Gospodarczy Krajowego Rejestru Sądowego pod nr
    KRS 0000211741, kapitał zakładowy: 300.000,00 PLN; NIP 5262789617, REGON
015786760 (dalej jako „<strong>Intertrend</strong>” lub „    <strong>Spółka</strong>”), działającej jako administrator danych oraz przez
    Partnerów Spółki, w toku procesu zautomatyzowanego podejmowania decyzji, w
    tym w celu profilowania w zakresie związanym z wykonywaniem umów zawartych
    ze Spółką albo współpracy z Partnerami Spółki.
</p>
<p>
    Zostałem powiadomiony o przysługującym mi prawie dostępu do treści moich
    danych i ich sprostowania, usunięcia, ograniczenia przetwarzania, prawie do
    przenoszenia danych, prawie do cofnięcia zgody w dowolnym momencie bez
    wpływu na zgodność z prawem przetwarzania.
</p>
<p>
    Informujemy, że dane osobowe:
</p>
<p>
    1) mogą być udostępniane Partnerom współpracującym z Intertrend,
    wymienionym Regulaminie Serwisu,
</p>
<p>
    2) podane dane będą przetwarzane na podstawie art. 6 ust. 1 pkt a) oraz w
    niezbędnym zakresie na podstawie pkt f) tego przepisu i zgodnie z treścią
    RODO
</p>
<p>
    3) Pani/Pana dane osobowe mogą być przekazywane do państwa trzeciego na
    podstawie standardowych klauzul umownych zatwierdzonych przez Komisję
    Europejską
</p>
<p>
    4) dane osobowe będą przechowywane przez okres niezbędny do realizacji
    celów przetwarzania i zabezpieczenia realizacji roszczeń
</p>
<p>
    5) ma Pan/Pani prawo wniesienia skargi do Prezesa UODO, gdy uzna Pan/Pani,
    iż przetwarzanie danych osobowych Pana/Pani dotyczących narusza przepisy
    RODO.
</p>
<p>
    <strong>3. ZGODA NA PRZESYŁANIE NIEZAMÓWIONEJ INFORMACJI HANDLOWEJ - zgodnie z UŚUDE i pr. telekomunikacyjnym </strong>
</p>
<p>
    Zgodnie z wymogami art. 10 ust. 2 ustawy z dnia 18 lipca 2002 r. o
    świadczeniu usług drogą elektroniczną oraz art. 172 ustawy z dnia 16 lipca
    2004 r. Prawo telekomunikacyjne, wyrażam zgodę na przesyłanie informacji
    handlowych - w zakresie informowania mnie o działalności Serwisu oraz niżej
    wskazanej Spółki i jej Partnerów oraz w zakresie działań marketingowych
    Intertrend Polska sp. z o.o. z siedzibą w Wrześni (adres: ul. Działkowców
    10, 62-300 Września), wpisana do rejestru przedsiębiorców Krajowego
    Rejestru Sądowego, prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto i
    Wilda w Poznaniu, Wydział IX Gospodarczy Krajowego Rejestru Sądowego pod nr
    KRS 0000211741, kapitał zakładowy: 300.000,00 PLN; NIP 5262789617, REGON
015786760 (dalej jako „<strong>Intertrend</strong>” lub „    <strong>Spółka</strong>”), a także jej Partnerów wskazany w treści
    Regulaminu Serwisu, za pomocą środków komunikacji elektronicznej,
    telefonicznie na numer telefonu oraz drogą elektroniczną na mój adres email
    objęty treścią formularza rejestracji. Tym samym, wyrażam zgodę na używanie
    telekomunikacyjnych urządzeń końcowych i automatycznych systemów
    wywołujących przez Spółkę lub podmioty działające na jej zlecenie lub za
    jej zgodą, dla celów marketingu bezpośredniego zgodnie z ustawą – Prawo
    telekomunikacyjne.
</p>
<p>
    Zostałem powiadomiony o przysługującym mi prawie dostępu do treści moich
    danych i ich sprostowania, usunięcia, ograniczenia przetwarzania, prawie do
    przenoszenia danych, prawie do cofnięcia zgody w dowolnym momencie bez
    wpływu na zgodność z prawem przetwarzania.
</p>
<p>
    Informujemy, że dane osobowe:
</p>
<p>
    1) mogą być udostępniane osobom podmiotom współpracującym z Intertrend
    wymienionym powyżej
</p>
<p>
    2) podane dane będą przetwarzane na podstawie art. 6 ust. 1 pkt a) oraz w
    niezbędnym zakresie na podstawie pkt f) tego przepisu i zgodnie z treścią
    RODO
</p>
<p>
    3) dane osobowe mogą być przekazywane do państwa trzeciego na podstawie
    standardowych klauzul umownych zatwierdzonych przez Komisję Europejską
</p>
<p>
    4) dane osobowe będą przechowywane przez okres niezbędny do realizacji
    celów przetwarzania i zabezpieczenia realizacji roszczeń
</p>
<p>
    5) ma Pan/Pani prawo wniesienia skargi do Prezesa UODO, gdy uzna Pan/Pani,
    iż przetwarzanie danych osobowych Pan/Pani dotyczących narusza przepisy
    RODO.
</p>