/*
.mat-dialog-content {
  overflow-x: hidden !important;
}
.info-snackbar {
  background: #17a2b8;
}
.success-snackbar {
  background: #28a745;
}
.danger-snackbar {
  background: #dc3545;
}
.warning-snackbar {
  background: #ffc107;
}

.mat-simple-snackbar{
  text-align: center;
}

.mat-snack-bar-container.mat-snack-bar-top.mat-snack-bar-center{
  margin-top: 15px;
}

*/

//@import 'node_modules/@ng-select/ng-select/themes/material.theme.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

