.mat-cell {
    padding: 0 40px 0 0;
  }

.modal-header{
  border-bottom: 1px solid #dee2e6;
}


.modal-action{
  border-top: 1px solid #dee2e6;
  padding-bottom: 15px;
  padding-top: 15px;
}

.modal-content{
  margin-bottom: 15px;
  margin-top: 15px;
}

.mat-progress-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  }

.brak-magazyn .mat-cell{
  color: #d32f2f;
}


