<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="10px" class="modal-header">
  <mat-icon>description</mat-icon> 
  <h4>Szczegóły zamówienia</h4>
  <span class="space"></span>
  <button mat-icon-button (click)="dialogClose()"> 
    <mat-icon>close </mat-icon>
  </button>
</div>

<mat-dialog-content class="modal-content">
 
  <span>Numer zamówienia: {{order.numer_zam}}</span><br>
  <span>Data realizacji: {{order.data_realizacji}}</span><br>
  <span>Data realizacji magazyn: {{order.data_realizacji_magazyn}}</span><br>
  <span>Uwagi: {{order.uwagi}}</span><br><br>
 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="wytwor_idm">
      <th mat-header-cell *matHeaderCellDef> Indeks<br>wytworu </th>
      <td mat-cell *matCellDef="let element"> {{element.wytwor_idm}} </td>
    </ng-container>

    <ng-container matColumnDef="wytwor_nazwa">
      <th mat-header-cell *matHeaderCellDef> Nazwa<br>wytworu </th>
      <td mat-cell *matCellDef="let element"> {{element.wytwor_nazwa}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ilosc_oczekiwana">
      <th mat-header-cell *matHeaderCellDef> Ilość<br>oczekiwana </th>
      <td mat-cell *matCellDef="let element"> {{element.ilosc_oczekiwana}} </td>
    </ng-container>

    <ng-container matColumnDef="ilosc_wydana">
      <th mat-header-cell *matHeaderCellDef> Ilość<br>wydana (T / Z) </th>
      <td mat-cell *matCellDef="let element"> {{element.ilosc_wydana_zdd_temp}} / {{element.ilosc_wydana_zdd}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-spinner *ngIf="loading"></mat-spinner>

</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-action">
  <button mat-flat-button (click)="dialogClose()">Zamknij</button>
</mat-dialog-actions>



